<header class="flex items-center justify-between bg-white shadow-md px-6 py-4">
    <h1 class="text-2xl font-bold text-[#e5c0b5]">Mon Portfolio</h1>
  
    <nav class="space-x-4 hidden md:flex">
      <a routerLink="/" routerLinkActive="text-[#e5c0b5] font-semibold" class="hover:text-[#e5c0b5] transition">Accueil</a>
      <a routerLink="/projets" routerLinkActive="text-[#e5c0b5] font-semibold" class="hover:text-[#e5c0b5] transition">Projets</a>
      <a routerLink="/contact" routerLinkActive="text-[#e5c0b5] font-semibold" class="hover:text-[#e5c0b5] transition">Contact</a>
    </nav>
</header>
  