<!-- <header class="w-full bg-[#e7c2b7] shadow-md p-4 flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <img src="https://avatars.githubusercontent.com/u/9919?s=200&v=4" alt="Profil"
           class="w-12 h-12 rounded-full border-2 border-white shadow-md">
      <div class="flex flex-col">
        <h2 class="text-lg font-semibold text-gray-800">Mialivola R.</h2>
        <p class="text-sm text-gray-700">Développeur Web</p>
      </div>
    </div>
  
    <nav class="flex space-x-6">
      <a routerLink="/" routerLinkActive="font-bold underline" class="text-gray-800 hover:text-gray-900 transition">Accueil</a>
      <a routerLink="/projets" routerLinkActive="font-bold underline" class="text-gray-800 hover:text-gray-900 transition">Projets</a>
      <a routerLink="/contact" routerLinkActive="font-bold underline" class="text-gray-800 hover:text-gray-900 transition">Contact</a>
    </nav>
  </header>
   -->